<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PGcon" connectionString="server=dpg-cealsuirrk0bbtcnfe40-a.oregon-postgres.render.com;;port=5432;USER ID=copo;PASSWORD=iRsuOOu5zeLdT7medvUhcQL2JJuGPHnn;DATABASE=copo" providerName="Npgsql"/>
	</connectionStrings>
</configuration>